html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #app {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #EDEDED;
}

.app-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

button, input, textarea {
  border: none;
  border-radius: 0;
  background-color: rgb(167, 167, 167);
  outline: none;
}

a {
  text-decoration: none;
}
