.popular-movies {
  position: relative;
  width: 100%;
  padding: 0.5%;
}

.movie-container {
  position: relative;
  display: inline-block;
  width: 24%;
  height: 460px;
  margin: 0.5%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(144,144,144,0.50);
}

.movie-container-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 420px;
  padding: 10%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
}

.movie-container-overlay a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 0.85rem;
  letter-spacing: 0.8px;
  color: white;
  background-color: #2FCBD2;
  box-shadow: 0 4px 6px 1px rgba(0,72,75,0.34);
  transition: all ease 0.5s;
}

.movie-container-overlay a:hover {
  box-shadow: 0 6px 15px 1px rgba(0,72,75,0.64);
}

.movie-container:hover .movie-container-overlay {
  display: block;
}

.movie-overview {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 10%;
}

.movie-overview p {
  position: absolute;
  font-size: 0.8rem;
  line-height: 20px;
  bottom: 0;
}

.movie-image {
  position: relative;
  width: 100%;
  height: 460px;
  overflow: hidden;
}

.movie-image img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}

.movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.movie-title p {
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
}
